<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Home-page</title>
  </head>
  <body>

   <div class="container">
    <div class="py-5 text-center bg-secondary text-white">
     <h1 class="mb-3">Upload Image</h1>
     <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-danger" value="Upload">
         <div style="text-align: right;">
            <button><a href="{% url 'logout' %}">Logout</a></button>
         </div>
     </form>
    </div>
    <div class="row">
     {% for image in images %}
      {% if image.user == request.user %}
      <div class="col-sm-4">
       <div class="card m-2">
        <a href="/{{ image.photo.name }}" target="_blank">
            <img src="/{{ image.photo.name }}" alt="" class="card-img-top" height="200px">
        </a>
        <div class="card-footer">
            <small class="text-muted">Uploaded on {{ image.date|date:"F d, Y" }} | Size: {{ image.photo.size|filesizeformat }}</small>
            <form method="POST" action="{% url 'delete-image' %}">
                {% csrf_token %}
                <input type="hidden" name="image_id" value="{{ image.id }}">
                    <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
            </form>
<!--            <a href="/{{ image.photo.name }}" target="_blank" class="btn btn-primary btn-sm mt-2">Full Size</a>-->
        </div>
       </div>
      </div>
      {% endif %}
     {% endfor %}
    </div>
   </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>
